.mainInfo{
	max-width: 608px;

}

.mainSmallInfo{
	background: #D3320F;
	border-radius: 100px;
	padding: 12px 16px;
	display: inline-block;
	font-size: 18px;
}

.mainTitle{
	font-size: 120px;
	line-height: 156px;
	letter-spacing: 3.60px;

	text-transform: uppercase;
	word-wrap: break-word;

	margin-bottom: 56px;
}

.mainText{
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 56px;
}

.mainImage{
	top: 123px;
	left: calc(100% - 991px);
}